@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&family=Poppins:ital,wght@0,200&family=Raleway:wght@700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  /* background-color: #333333; */
}

canvas{
	position: fixed;
    left: 0;
    top: 0;
    z-index: -1; 
}

.tile-column {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	gap: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.game-tile {
	/* border: 3px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #222222;
	box-shadow: 10px 10px #101010;
	width: 60vw;
	height: 500px;
	text-align: center;
	font-family: Poppins, sans-serif;
	color: #eeeeee;
	border-radius: 20px;
}

#game-title {
	/* border: 3px solid red; */
	font-family: Raleway, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 70px;
	background-color: #101010;
}

#game-desc {
	/* border: 3px solid red; */
	font-family: Poppins, sans-serif;
	font-style: italic;
	font-size: 40px;
	padding: 0px;
	margin: 0px 60px;
}

#play-button {
	border: 2px solid rgb(255, 64, 64);
	background-color: rgb(255, 64, 64);
	text-align: center;
	text-decoration: none;
	font-size: 70px;
	padding: 0px 30px;
	margin: 0px 60px;
	border-radius: 10px;
	color: white;
}

#play-button:hover {
	background-color: #ffffff00;
	border: 2px solid red;
	color: rgb(255, 64, 64);
}

@media only screen 
  and (max-width: 800px){
	.game-tile{
		width: 90vw
	}
}